header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
    
}
.logo{
    background-image:url("../images/logo.png") ;
width: 142px;
height: 100px;
background-repeat: no-repeat;
margin-left: 20px;
}